* {
    background-image: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

window {
    background-color: rgba(0, 0, 0, 0.4);
}

button {
    color: transparent;
    background-color: #131313;
    border-top: 2px solid #999999;
    border-bottom: 2px solid #999999;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin: 250px 0;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border-radius 0.2s ease;
}

button:focus, button:active, button:hover {
    background-color: rgba(31, 31, 31, 1.0);
    outline: none;
}

/* Original buttons */
#shutdown {
    border-radius: 16px 0 0 16px;
    border-left: 2px solid #999999;
    background-image: image(url("/home/efzevios/.config/wlogout/icons/power-feather.svg"));
}

#reboot {
    background-image: image(url("/home/efzevios/.config/wlogout/icons/reboot-feather.svg"));
}

#logout {
    background-image: image(url("/home/efzevios/.config/wlogout/icons/logout-feather.svg"));
}

#timer {
    border-radius: 0 16px 16px 0;
    border-right: 2px solid #999999;
    background-image: image(url("/home/efzevios/.config/wlogout/icons/timer-feather.svg"));
}

/* Timer Submenu buttons */
#timer5m, #timer30m, #timer1h, #timer2h {
    color: transparent;
}

#timer5m {
    border-radius: 16px 0 0 16px;
    border-left: 2px solid #999999;
    background-image: image(url("/home/efzevios/.config/wlogout/icons/5m.svg"));
}

#timer30m {
    background-image: image(url("/home/efzevios/.config/wlogout/icons/30m.svg"));
}

#timer1h {
    background-image: image(url("/home/efzevios/.config/wlogout/icons/1h.svg"));
}

#timer2h {
    border-radius: 0 16px 16px 0;
    border-right: 2px solid #999999;
    background-image: image(url("/home/efzevios/.config/wlogout/icons/2h.svg"));
}
